src_widget/test/javasource/
src_widget/test/deployment/
src_widget/test/.classpath
src_widget/test/.project
src_widget/test/theme/
src_widget/test/userlib/
src_widget/test/.classpath
src_widget/test/.project
*.launch
*.tmp
*.lock
.idea/

dist/

src_widget/node_modules/
.editorconfig
*DS_Store*
.vscode/
*.bak
