<div class="mobilepin hide" id="mobilePINLogin">
    <div class="pin-background"></div>
    <div class="pin-input">
        <label class="pin-label">{{username_caption}}</label>
        <input id="_pinUser" type="text" class="wide" autofocus="autofocus" autocorrect="off" autocapitalize="none" />
        <label class="pin-label">{{password_caption}}</label>
        <input id="_pinPassword" type="password" class="wide" autocorrect="off" autocapitalize="none" /><br>
        <button id="_pinSubmit" class="btn btn-primary btn-wide">{{submit_caption}}</button>
        <div id="pin-error"></div>
        <div class="pin-label" id="loginText"></div>
		<input id="pin-usePin" type="checkbox"></input>
		<label class="usePinLabel" id="pin-usePinLabel">Use PIN</label>
    </div>
</div>
