<div class="mobilepin hide" id="mobilePINBody">
    <div class="pin-background"></div>
    <div class="pin-input">
        <input id="_pin1" type="number" min="0" inputmode="numeric" pattern="[0-9]*" class="pin" autofocus="autofocus" />
        <input id="_pin2" type="number" min="0" inputmode="numeric" pattern="[0-9]*" class="pin" />
        <input id="_pin3" type="number" min="0" inputmode="numeric" pattern="[0-9]*" class="pin" />
        <input id="_pin4" type="number" min="0" inputmode="numeric" pattern="[0-9]*" class="pin" />
        <input id="_pin5" type="number" min="0" inputmode="numeric" pattern="[0-9]*" class="pin" />
    </div>
    <div class="pin-label" id="pinText"></div>
	<a href="#" class="forgotpin-label" id="forgotPin"></a>
</div>