<div class="mobilepin hide" id="mobilePINNewBody">
    <div class="pin-background"></div>
    <div class="pin-input">
        <input id="_pinNew1" type="number" min="0" inputmode="numeric" pattern="[0-9]*" class="pin" autofocus="autofocus" />
        <input id="_pinNew2" type="number" min="0" inputmode="numeric" pattern="[0-9]*" class="pin" />
        <input id="_pinNew3" type="number" min="0" inputmode="numeric" pattern="[0-9]*" class="pin" />
        <input id="_pinNew4" type="number" min="0" inputmode="numeric" pattern="[0-9]*" class="pin" />
        <input id="_pinNew5" type="number" min="0" inputmode="numeric" pattern="[0-9]*" class="pin" />
    </div>
    <div class="pin-label" id="pinAfterLoginText"></div>
</div>